* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background-color: rgb(197, 199, 218) !important;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
  color: white !important;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  color:white !important;
}

menu .nav-item {
  padding: 0 0.3em;
}

menu a {
  color: white !important;
}

footer a {
  float: right;
}

#count {
  color: rgb(246, 239, 158);
}

.players {
  flex: 1;
  width: 100%;
  padding: 0.5em;
}

.player-name {
  color: rgb(69, 83, 201) !important;
}

.center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#deseret {
  font-size: 100px;
}

.navbar-custom {
  background-color: rgb(17, 24, 83);
}
 
.game {
  position: absolute;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
  img {
    height:100%;
    width:100%;
  }
}

td {
  max-width: 40vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#center-this-dang-thing {
  padding:0 15em;
}

ul {
  padding:0px 0px 0px 0px !important;
  margin:0px 0px 0px 0px !important;
}

img {
  height: 50%;
  width: 50%;
  margin: 10px 2px;
  object-fit: cover;
  filter: grayscale(80%);
  border: 5px solid rgb(17, 24, 83);
}

#about {
  padding:0 20px;
}

h2 {
  padding:10px 0 0 0;
}

#biblio {
  padding: 0 0 10px 0;
}